/.vs/*
Deep Learning with Pytorch/data_generation/__pycache__/image_classification.cpython-310.pyc
Deep Learning with Pytorch/plots/__pycache__/chapter4.cpython-310.pyc
PyTorchStepByStep
Deep Learning with Pytorch/__pycache__/helpers.cpython-310.pyc
Deep Learning with Pytorch/stepbystep/__pycache__/v1.cpython-310.pyc
Deep Learning with Pytorch/stepbystep/__pycache__/v2.cpython-310.pyc
Deep Learning with Pytorch/data_generation/__pycache__/rps.cpython-310.pyc
Deep Learning with Pytorchrps.zip
Deep Learning with Pytorchrps-test-set.zip
Deep Learning with Pytorch/stepbystep/__pycache__/v3.cpython-310.pyc
